<div class="page-header">
  <h1>Check out all these wonderful recipes!</h1>
</div>



<% @recipies.each do |recipie| %>
<div class="recipesIndex">
<div class="row">
  <h3><a href="/recipies/<%= recipie.id %>"><%= recipie.title %></a></h3>
    <img src=<%= recipie.image %>>
</div>
<% end %>
</div>
