<div class="page-header">
<h1>Tutorial 1</h1>
</div>

<div class="recipesIndex">

<div><iframe width="560" height="315" src="https://www.youtube.com/embed/9kxmWv1AV5I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>


  <button type="button" class="btn btn-primary myButton" name="button"><a class="myButton" href="/tutorials/editt">Edit</a></button>

  <div class="">
  <form action="#" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-primary myButton" name="button" value="DELETE">DELETE</button>
  </form>
    </div>

</div>
