<div class="page-header">
  <h1>Recipe categories!</h1>
</div>


<div class="row categories">
<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
  <h3>Appetizers</h3>
  <div><img src="http://www.cottages-gardens.com/Connecticut-Cottages-Gardens/September-2015/Martha-Stewart-Recipe-Book-Appetizers/_Martha-Stewart-Recipe-Book-Appetizers-Thumbnail.jpg" alt="appetizers"></div>
  <h3><a href="/recipies/2">Sweet potato soup</a></h3>
</div>
<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
  <h3>Main meals</h3>
  <div><img src="https://www.honeybeebooks.co.uk/wp-content/uploads/2018/12/Honeybuns-Honeybee-Books-300x300.jpg" alt="main meals"></div>
  <h3><a href="/recipies/1">Spaghetti in tomato sauce</a></h3>
  <h3><a href="/recipies/3">Creamy shrimp</a></h3>
</div>
<div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
  <h3>Desserts</h3>
  <div><img src="https://images.gr-assets.com/books/1439582541l/26100650.jpg" alt="desserts"></div>
  <h3><a href="/recipies/4">Chocolate cheesecake</a></h3>
</div>
